.chests__section
    padding-top: 45px

    .chestBox-won
        position: relative
        background-image: url('/img/chests/box-won.png')
        background-repeat: no-repeat
        background-size: 80%
        width: 273px
        height: 275px
        padding-bottom: 0

        @media only screen and (max-width : $media-phone)
            background-size: 60%

        &__ribbon
            position: absolute
            top: 41px
            left: 73px
            font-size: em(13px)
            font-weight: bold
            text-transform: uppercase

            @media only screen and (max-width : $media-phone)
                top: 28px
                left: 50px
                font-size: em(12px)

        &__btc
            position: absolute
            left: 75px
            bottom: 111px
            font-size: em(13px)
            font-weight: bold

            @media only screen and (max-width : $media-phone)
                left: 54px
                bottom: 151px
                font-size: em(11px)

        &__delete-btn
            position: absolute
            left: 88px
            bottom: 65px
            background-image: url('/img/chests/box-won_delete.png')
            background-repeat: no-repeat
            background-size: 80%
            width: 44px
            height: 43px

            @media only screen and (max-width : $media-phone)
                background-size: 60%
                left: 65px
                bottom: 105px


    .chestBox-locked
        position: relative
        background-image: url('/img/chests/box-locked.png')
        background-repeat: no-repeat
        background-size: 80%
        width: 273px
        height: 275px

        @media only screen and (max-width : $media-phone)
            background-size: 60%

        &__ribbon
            position: absolute
            top: 40px
            left: 78px
            font-size: em(13px)
            font-weight: bold
            text-transform: uppercase

            @media only screen and (max-width : $media-phone)
                top: 28px
                left: 54px
                font-size: em(12px)

    .chestBox-wonRuby
        position: relative
        background-image: url('/img/chests/box-wonRuby.png')
        background-repeat: no-repeat
        background-size: 80%
        width: 273px
        height: 275px

        @media only screen and (max-width : $media-phone)
            background-size: 60%

        &__ribbon
            position: absolute
            top: 41px
            left: 73px
            font-size: em(13px)
            font-weight: bold
            text-transform: uppercase

            @media only screen and (max-width : $media-phone)
                top: 28px
                left: 50px
                font-size: em(12px)

        &__btc
            position: absolute
            left: 75px
            bottom: 111px
            font-size: em(13px)
            font-weight: bold

            @media only screen and (max-width : $media-phone)
                left: 54px
                bottom: 151px
                font-size: em(11px)

        &__delete-btn
            position: absolute
            left: 88px
            bottom: 65px
            background-image: url('/img/chests/box-wonRuby_delete.png')
            background-repeat: no-repeat
            background-size: 80%
            width: 44px
            height: 43px

            @media only screen and (max-width : $media-phone)
                background-size: 60%
                left: 65px
                bottom: 105px

@media only screen and (max-width : $media-phone)
    .col-xs-6
        padding-top: 0 !important
