.statistic__section
    padding-top: 25px

    .statistic-content
        @include border-radius(all, 40px)
        padding: 25px 35px
        background-color: #000
        min-height: 150px
        border-bottom: 4px solid #a27e56
        color: $accent-color
        font-size: em(20px)

        @media only screen and (max-width : $media-phone)
            border-radius: 
            font-size: em(17px)

        @media only screen and (max-width : $media-tablet)
            border-radius: 0

        .fa 
            margin-right: 5px

        span 
            font-weight: bold