.vhc-i
    content: ''
    position: absolute
    width: 21px
    height: 21px
    margin: 0 10px
    color: #388ed4
    display: inline-block
    vertical-align: middle
    line-height: 21px
    left: -15px

    @media only screen and (max-width : $media-phone)
        left: -18px

.ul-vehicles-details__list
        list-style-type: none
        margin: 0
        padding: 0

        li
            position: relative
            padding: em(4px) em(4px) em(4px) em(25px)
            display: block
            margin-bottom: 2px
            color: #828384
            font-size: em(16px)

            @media only screen and (max-width : $media-phone)
                font-size: em(15px)

            &.i-passengers::before 
                +icon(vhc-passengers,png)
                @extend .vhc-i

            &.i-case::before 
                +icon(vhc-case,png)
                @extend .vhc-i

            &.i-doors::before 
                +icon(vhc-doors,png)
                @extend .vhc-i

            &.i-transmission::before 
                +icon(vhc-transmission,png)
                @extend .vhc-i

            .count,
            .tr
                display: inline-block
                color: #000
                font-weight: 600

.ul-vehicles-select__list
        list-style-type: none
        margin: 0
        padding: 0

        li
            @include box-shadow(inset 0 0 4px 0 rgba(0, 0, 0, 0.2))
            @include border-radius(all, 3px)
            position: relative
            display: inline-block
            background-color: #ebebeb
            border: 1px solid #c3c2c2
            font-size: em(15px)
            font-weight: 600
            padding: 4px 21px 4px 21px
            margin: -4px 0
            text-transform: uppercase
            text-align: center
            color: #828384
            cursor: pointer

            @media only screen and (max-width : $media-phone)
                font-size: em(13px)

            &:hover
                background-color: #dbdbdc
                color: #000

.bg-1
    background-color: #553b35

    h1
        text-transform: uppercase

.bg-2
    background-color: #3e2a25

    &::before
                content: ''
                position: absolute
                background-image: url('/img/bg-gradient.png')
                background-repeat: no-repeat
                width: 100%
                height: 100%
                z-index: 10

.bg-3
    background-color: #472d29

.bg-4
    background-color: #3e2a25

.about__section
    padding-top: 25px

    .about-item
        position: relative
        min-height: 250px
        padding-bottom: 25px

        h1
            margin: 25px 0 25px
            font-family: 'Roboto Condensed', sans-serif
            font-size: em(40px)
            font-weight: 700
            color: #fff

            @media only screen and (max-width : $media-phone)
                font-size: em(20px)

            > span
                display: block

        h2
            font-size: em(15px)
            color: #b18a7a

            span
                color: #9ea0a1
        
        &__content
            padding: 0 14px
            margin-bottom: 25px

        &__thumb
            margin-left: 20px
            padding: 30px 14px
            position: relative
            width: 75% 

        &__details
            @extend .ul-vehicles-details__list

        &__booking
            text-align: center

            @media only screen and (max-width : $media-tablet)
                border-top: 1px solid #a8aaab

            @media only screen and (max-width : $media-phone)
                border-top: 1px solid #a8aaab

            > a
                &.btn
                        @include border-radius(all, 3px)
                        @include linear-gradient(to bottom, #e93440, #da1521)
                        font-size: em(16px)
                        font-family: 'Roboto Condensed', sans-serif
                        font-weight: bold
                        min-width: 143px
                        padding: 10px 34px 10px 34px
                        margin: 5px 0 10px
                        color: #fff
                        text-transform: uppercase
                        text-align: center

                        @media only screen and (max-width : $media-laptop)
                            width: 100%

                        @media only screen and (max-width : $media-tablet)
                            width: 100%
                            
                        @media only screen and (max-width : $media-phone)
                            width: 100%

                        &:hover,
                        &:visited
                            @include linear-gradient(to top, #e93440, #da1521)
                            text-decoration: none
                            color: #fff

            > p
                color: #a8aaab

                @media only screen and (max-width : $media-phone)
                    font-size: em(15px)

            .price
                margin-bottom: 5px
                font-family: 'Roboto Condensed', sans-serif
                font-size: em(18px)
                font-weight: 500
                color: #6d7273

                @media only screen and (max-width : $media-tablet)
                    margin-top: 10px

                @media only screen and (max-width : $media-phone)
                    margin-top: 10px
                    font-size: em(17px)

                .count
                    font-size: em(19px)
                    font-weight: 700
                    color: #000

    .vehicles-options
        margin-bottom: 20px

        .vehicles-sorting
            &__inline
                display: inline-flex
                margin-top: -50px

                @media only screen and (max-width : $media-phone)
                    margin-top: 0

            &__label
                margin-right: 15px
                font-size: em(17px)
                color: #7e7e7f

            &__select
                @extend .ul-vehicles-select__list


    .vehiclesTypes-wrap
        .vehiclesTypes-list
            list-style-type: none
            margin: 0
            padding: 0

            li
                @include linear-gradient(to bottom, #fafafa, #eaeaea)
                display: block
                margin-bottom: 5px
                padding: 10px 14px
                border: 1px solid #dbd4d4
                font-family: 'Open Sans', sans-serif
                font-size: em(17px)
                font-weight: normal
                text-align: left
                color: #fff

                @media only screen and (max-width : $media-phone)
                    font-size: em(15px)

                > a
                    color: $accent-color
                    text-decoration: none

                    &:hover
                        font-weight: 600
                
            & .all
                @include linear-gradient(to bottom, #353538, null)

                > a
                    font-weight: 600
                    color: #fff

                    &:hover
                        color: $accent-color