/* Popups */

.modal        
    &-content
        background-color: #3d2a25!important

    &-body
        padding: 25px!important
        background-color: #3d2a25!important

    &-title
        color: #fff
        font-family: "Roboto+Condensed", sans-serif
        font-weight: bold
        text-align: center
        font-size: em(30px)

    &-header
        margin-bottom: 31px
        border: none!important

.panel
    position: relative!important
    background-color: #3d2a25!important
    border: 4px solid #382621!important

    &-logo
        position: absolute
        background-image: url('/img/small-logo.png')
        background-repeat: no-repeat
        background-size: 60%
        left: 55%
        top: 10%
        transform: translate(-50%, -50%)
        width: 113px
        height: 126px
        z-index: 2

    &-heading
        border: none!important

        a
            padding: 12px 30px
            background-color: #392621!important
            color: $accent-color!important
            text-decoration: none

            &:hover
                color: #fff!important

.login-form
    width: 30%

.form-group

    label
        color: #b08979!important

    checkbox
        @include border-radius(all, 4px)

    .forgot-password
        a 
            color: red!important

.form-control
    @include border-radius(all, 20px)
    background-color: #2c1e1a!important
    border: none!important
    color: #644b42!important

.btn-login
    background-color: #b8a377!important
    color: #fff!important

button.close
    padding: 0 4px
    background-color: #2c1e1a!important
    border-radius: 50px
    border: none!important

.close
    color: #b8a377!important
    opacity: 1