.reklama
    width: 274px
    height: 172px
    line-height: 172px
    background-color: $accent-color
    border: 3px solid #dbd4d4
    text-align: center

    @media only screen and (max-width : $media-phone)
        width: 255px!important
        height: 120px!important
        line-height: 120px

    &-text
        @extend .fz25
        font-weight: 700
        color: #fff

        @media only screen and (max-width : $media-phone)
            font-size: em(18px)