*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	background: url('/img/bg.jpg') no-repeat center center fixed
	background-size: cover 
	background-color: #352b28
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "Open Sans", sans-serif
	overflow-x: hidden

h1, h2, h3, h4, h5, h6
	line-height: em(22px)

h1
	font-size: em(50px)

h2
	font-size: em(32px)

h3
	font-size: em(26px)

a
	color: $accent-color
	
	&:hover
		text-decoration: none
		color: #fff

.hidden
	display: none