.main__footer
    padding-top: 65px
    padding-bottom: 25px

    &-createdBy
        color: $accent-color

        @media only screen and (max-width : $media-phone)
            margin-bottom: 25px

    .socialinks-list
        > a
            padding-left: 10px

    @media only screen and (max-width : $media-phone)
        text-align: center

        .pull-left
            float: none !important

        .pull-right
            float: none !important