%ulmnu
	list-style-type: none
	margin: 0
	padding: 0

.logo__image
    margin-top: -15px

    @media only screen and (max-width : $media-tablet)
        margin-top: 20px

        img
            max-width: 200px

    @media only screen and (max-width : $media-phone)
        img
            max-width: 150px
                
    img
        width: 240px

.main__header
    .header__container
        padding-top: 31px

        @media only screen and (max-width : $media-phone)
            padding-top: 0
        
        @media only screen and (max-width : $media-tablet)
            padding-top: 0

        &-content
            .circles-list
                @extend %ulmnu

                li
                    margin-top: -4px
                    display: inline-block

                    > a 
                        img 
                            width: 100px
                            height: auto

                            @media only screen and (max-width : $media-phone)
                                width: 50px

            .menu-list
                @extend %ulmnu
                margin-top: 24px
                margin-right: 15px

                li
                    margin-left: 10px
                    display: inline-block

                    a
                        @include border-radius(all, 20px)
                        padding: 6px 30px
                        font-size: em(20px)
                        font-family: 'Open Sans', sans-serif
                        font-weight: 400
                        color: $accent-color
                        border: 1px solid $accent-color

                        &:hover
                            background-color: #b69f77
                            text-decoration: none
                            color: #fff


.mobile-container
    position: relative

    @media only screen and (max-width : $media-phone)
        background-color: #000000
        border-bottom: 4px solid #a27e56

    @media only screen and (max-width : $media-tablet)
        background-color: #000000
        border-bottom: 4px solid #a27e56


.hamburger-menu
    width: 1.8em
    height: 1.4em
    padding: 0.2em
    background-color: #000000
    cursor: pointer
    margin: 0.6em auto
    font-size: em(35px)
    float: right

    @media only screen and (max-width : $media-phone)
        margin-top: 1em
        font-size: em(25px)

    &__nav
        display: none
        float: right
        min-width: 300px
        height: auto
        text-align: center
        background-color: $accent-color
        top: 99px
        border-bottom: 4px solid #a27e56
        position: absolute
        right: 15px
        z-index: 2

        &.open
            display: block

    div
        background-color: $accent-color
        width: 1.4em
        height: 0.2em
        margin-bottom: 0.2em
        transition: all 0.2s ease-out

    &.open
        .one
            transform: translateY(0.4em) rotate(45deg)

        .two
            opacity: 0

        .three
            transform: translateY(-0.4em) rotate(-45deg)

.hamburger-nav
    @extend %ulmnu
    margin-top: 24px
    margin-right: 15px

    li
        margin-left: 10px
        margin-bottom: 25px
        display: block

        a
            @include border-radius(all, 20px)
            background-color: #a27e56
            padding: 6px 30px
            font-size: em(20px)
            font-family: 'Open Sans', sans-serif
            font-weight: 400
            color: $accent-color
            border: 1px solid $accent-color

            &:hover
                background-color: #a27e56
                text-decoration: none
                color: #fff